@{
    ViewData["Title"] = "Import products using a CSV";
}
<h2>@ViewData["Title"]</h2>

<form enctype="multipart/form-data">
    <input name="file" type="file" required="" />
    <input type="button" class="btn btn-primary" value="Upload" />
</form>

<div id="divUpload" style="display: none;">
    <h2>Uploading the CSV file...</h2>
    <progress></progress>
</div>

<div id="divProcessing" style="display: none;">
    <div id="wave">
        <h2>Processing</h2>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
    </div>
</div>

<div id="divSuccess" style="display: none;">
    <h2>The import was a success! <br /> Click @Html.ActionLink("here", "Index") to see the products.</h2>
</div>

<script>
    var productsUrl = '@Url.Action("Index", "Product")';
</script>

<script src="~/js/ImportProduct.js"></script>
<link href="~/css/ImportProduct.css" rel="stylesheet" />