@{
    ViewData["Title"] = "Import products using a CSV";
}
<h2>@ViewData["Title"]</h2>

<form enctype="multipart/form-data">
    <input name="file" type="file" required="" />
    <input type="button" value="Upload" />
</form>
<div id="divUpload">
    <h2>Uploading the CSV file...</h2>
    <progress></progress>
</div>

<div id="divProcessing">
    <h2>Processing...</h2>
</div>

<div id="divSuccess">
    <h2>The import was a success! <br /> Click @Html.ActionLink("here", "Index") to see the products.</h2>
</div>

<script>
    $(document).ready(function () {
        $('#divUpload').hide();
        $('#divSuccess').hide();
        $('#divProcessing').hide();

        $(':file').on('change', function () {
            var file = this.files[0];

            if (!(/\.(csv)$/i).test(file.name)) {
                errorAlert('File must be a CSV');
                this.form.reset();
            }
        });

        $(':button').on('click',
            function () {
                $.ajax({
                    url: '/api/ImportProduct',
                    type: 'POST',
                    data: new FormData($('form')[0]),

                    cache: false,
                    contentType: false,
                    processData: false,

                    xhr: function () {
                        var myXhr = $.ajaxSettings.xhr();
                        if (myXhr.upload) {
                            $('#divUpload').show();
                            myXhr.upload.addEventListener('progress',
                                function (e) {
                                    if (e.lengthComputable) {
                                        $('progress').attr({
                                            value: e.loaded,
                                            max: e.total
                                        });

                                        console.log(e.loaded + ' , ' + e.total);

                                        if (e.loaded == e.total) {
                                            $('#divUpload').hide();
                                            $('#divProcessing').show();
                                        }
                                    }
                                },
                                false);
                        }

                        return myXhr;
                    }
                }).done(function () {
                    $('#divUpload').hide();
                    $('#divProcessing').hide();
                    $('#divSuccess').show();
                })
                .fail(function (message) {
                    errorAlert(message.responseText);
                });
            });
    });

    function errorAlert(message) {
        swal({
            type: 'error',
            title: 'Oops...',
            text: message,
        });
    }

</script>
